<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Driving Data Collection</title>
  <!-- Bootstrap core CSS-->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">
  <!-- Custom styles for this site -->
  <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      {% if title %}
      <a class="navbar-brand" href="index.html">{{ title }}</a>
      {% else %}
      <a class="navbar-brand" href="index.html">Driving Data Collection
        <small> - Web Visualizer</small>
      </a>
      {% endif %}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
      </ul>
      </div>
    </div>
  </nav>
  <div class="content-wrapper">
    {% block content %}{% endblock %}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          <small>Copyright
            <i class="fa fa-copyright" aria-hidden="true"></i> India Driving Dataset 2018</small>
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Custom scripts for all pages-->
    {% block scripts %} {% endblock %}
  </div>
</body>

</html>